<ion-view view-title="Cycle Uber" hide-back-button="true">
    <ion-content class="">
        <div id="main-map" data-tap-disabled="true" ng-hide="userType"></div>
        <div id="main-map-driver" data-tap-disabled="true" ng-show="userType"></div>

    </ion-content>
    <div class="tabs tabs-icon-top tabs-light tabs-content-bottom" ng-hide="userType">
        <a class="tab-item positive" ng-click="repair()">
            <i class="icon ion-wrench"></i>
            Repairs
        </a>
        <a class="tab-item positive" ng-click="showPickup()">
            <i class="icon ion-ios-location"></i>
            Pickup
        </a>
    </div>
</ion-view>