<ion-view view-title="Quotes" hide-back-button="true">
    <ion-content>
        <h4 class="text-center" ng-show="userView">Wait here to see who quotes you...</h4>
        <h4 class="text-center" ng-hide="userView">Sent quotes...</h4>
        <div class="list card" ng-repeat="item in serviceItems">
            <div class="item item-avatar">
                <img ng-src="{{item.photo}}">
                <h2>{{item.user_name}}</h2>
                <p class="text-capitalize">{{item.service_type}}</p>
            </div>
            <div class="item badge-box">
                <p class="item-icon-left">
                    <i class="icon ion-ios-location-outline"></i>
                    {{item.latitude}} | {{item.longitude}}
                    <span class="badge badge-positive">R {{item.cost}}</span>
                    <span class="badge badge-balanced">{{item.distance}}km</span>
                </p>
            </div>
            <div class="item">
                <div class="button-bar">
                    <button class="button button-flat button-assertive icon ion-android-close no-pad" ng-click="serviceItems.splice($index, 1); dismissQuote({{item}})">
                        Dismiss
                    </button>
                    <button class="button button-flat button-balanced icon ion-eye no-pad" ng-show="userView" ng-click="serviceItems.splice($index, 1); addQuote({{item}})">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>